/* Add CSS Styling */
.odd {
    background-color: #f99;
    font-family: verdana, 'dejavu sans', sans-serif;
}

.font-adjust {
    font-size: 24px;
}

#two {
    color: #06f;
    font-size: 36px;
}

#four {
    background-color: #6f9;
    font-weight: bold;
}